.banner-container {
    position: absolute;
    width: 100%;
    height: 400px;
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
}

.homepage_banner {
    position: absolute;
    height: 350px;
    object-fit: contain;
}

.boxes-container {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    top: 360px;
}

.box {
    width: 20%;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    padding: 1rem;
    font-size: 15px;
    background-color: cadetblue;
    color: white;
    text-align: center;
}

.icon {
    font-size: 20px;
    margin-bottom: 10px;
}

.title {
    font-weight: bold;
    margin-bottom: 10px;
    /* border: 1px solid black; */
}

.page-details {
    width: 100%;
    font-size: 13px;
    color: white;
    border: none;
    text-align: justify;
}
