@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@400;600&family=Lato:wght@100&display=swap');

.homepage-title {
  font-family: 'Encode Sans', sans-serif;
  position: absolute;
  color: white;
  width: 100%;
  top: 15vh;
  font-size: 5vw;
  text-shadow: 5px 5px 7px #000000;
  letter-spacing: 0.3rem;
  user-select: none;
}

.homepage-desc {
  font-family: 'Encode Sans', sans-serif;
  position: absolute;
  color: white;
  width: 100%;
  top: 40vh;
  left: 0;
  font-size: 4vw;
  font-weight: 400;
  text-shadow: 3px 3px 5px #000000;
  text-align: center;
  user-select: none;
}

.page-desc {
  font-size: 1.6vw;
  position: relative;
  top: 2vw;
  opacity: 0;
}

.boxes-container {
  position: relative;
  top: 3vw;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.box {
  width: 15%;
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  padding: 1rem;
  font-size: 15px;
  background-color: cadetblue;
  color: white;
  text-align: center;
  letter-spacing: 1px;
}

.icon {
  font-size: 2vh;
  margin-bottom: 10px;
}

.title {
  font-size: 1.8vh;
  font-weight: bold;
  margin-bottom: 10px;
}

.page-details {
  width: 100%;
  font-size: 1.5vh;
  color: white;
  border: none;
  text-align: justify;
}

.reason {
  font-size: 1.6vw;
  position: relative;
  top: 7vw;
  opacity: 0;
  /* animation: fadeIn 1s 4s forwards; */
}

.description {
  position: relative;
  top: 6vw;
  margin: auto;
  width: 40%;
  padding: 1rem;
  font-size: 1.6vh;
  color: #33475b;
  text-align: justify;
  line-height: 2em;
  letter-spacing: 1px;
  opacity: 0;
  /* animation: fadeIn 1s 4.5s forwards; */
}

p {
  margin-bottom: 0.3em;
  margin-top: 0.3em;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 426px) {

  .homepage-title {
    top: 3vh;
  }

  .homepage-desc {
    top: 10vh;
  }

  .boxes-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    gap: 7% 3%;
  }

  .box {
    width: 70%;
  }

  .icon {
    font-size: 4vw;
  }
  .title {
    font-size: 3.5vw;
  }

  .page-details {
    font-size: 2.5vw;
  }

  .page-desc {
    font-size: 4vw;
  }

  .reason {
    top: 12vw;
    font-size: 4vw;
  }

  .description {
    top: 10vw;
    font-size: 1.4vh;
    width: 70%;
  }
}
