.list-display-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 10px;
  margin: auto;
  background-color: blanchedalmond;
  border-radius: 0.5rem;
  padding: 1%;
  width: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.list-display-department {
  border: 1px solid black;
  border-radius: 0.5rem;
}

.list-display-department-title {
  background-color: burlywood;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;

  /* text-align: left; */
  font-weight: bold;
}

.list-display-product-container {
  display: flex;
  /* justify-content: space-between; */
}

.list-display-product-details {
  text-align: left;
  width: fit-content;
  /* border: 1px solid black; */
}

.list-display-product-name {
  display: inline-block;
  /* width: 40%; */
  /* border: 1px solid black; */
}

.list-display-product-amount {
  display: inline-block;
}

.list-display-product-comment {
  color: red;
}
