.list-display-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 10px;
  margin: auto;
  background-color: #f5f5f5;
  padding: 2%;
  width: auto;
}

.list-display-department {
  border: 1px solid rgb(139, 139, 139);
  background-color: #e0e0e0;
}

.list-display-department-title {
  background-color: #393e46;
  font-size: 0.8vw;
  font-weight: bold;
  padding: 2%;
  color: white;
}

.list-display-products-list {
  margin: 0.5vw;
  /* border: 1px solid black; */
}

.list-display-product-container {
  display: flex;
  padding: 1%;
  font-size: 0.7vw;
  /* border: 1px solid black; */
}

.list-display-product-details {
  text-align: left;
  width: fit-content;
  /* border: 1px solid black; */
}

.list-display-product-name {
  display: inline-block;
  font-weight: bold;
  /* width: 40%; */
  /* border: 1px solid black; */
}

.list-display-product-amount {
  display: inline-block;
}

.list-display-product-comment {
  color: red;
  font-size: 0.6vw;
}

@media only screen and (max-width: 425px) {
  .list-display-department-title {
    font-size: 3.5vw;
  }

  .list-display-products-list {
    margin: 1vw;
  }

  .list-display-product-container {
    font-size: 3vw;
    padding-left: 1vw;
  }

  .list-display-product-comment {
    font-size: 2vw;
  }
}
