.show-lists-title {
  font-size: 2vw;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2vw;
  margin-top: 5rem;
}

.dates-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* border: 1px solid black; */
}

.date-list-block {
  width: 25.5vw;
}

.date-list-block:last-child {
  border-bottom: 1px solid rgb(139, 139, 139);
}

.date-title-display {
  width: 25vw;
  height: 2vw;
  position: relative;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1%;
  background-color: #e0e0e0;
  border-top: 1px solid rgb(139, 139, 139);
  font-size: 0.85vw;
  font-weight: bold;
  user-select: none;
  cursor: pointer;
  /* border: 1px solid black; */
}

.date-title-display:hover {
  background-color: #aaaaaa;
  transition-duration: 0.5s;
}

.loader {
  width: 1.5vw;
  height: 1.5vw;
  position: absolute;
  right: 1vw;
  border-radius: 50%;
  display: inline-flex;
  flex-direction: row;
  border-top: 2px solid #3f72af;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  opacity: 0.7;
  animation: rotation 0.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 425px) {
  .show-lists-title {
    font-size: 6vw;
    margin-bottom: 5vw;
  }

  .date-list-block {
    width: 92vw;
  }

  .date-title-display {
    width: 88.5vw;
    height: max-content;
    font-size: 4vw;
    padding: 2%;
  }
}
