.add-item-block {
  background-color: #e0e0e0;
  padding: 0.5%;
  margin: 10px 30% 10px 30%;
  border-radius: 0.5rem;
  text-align: center;
  word-wrap: break-word;
}

.add-item-explanation {
  width: 50%;
  border-bottom: 1px solid rgb(146, 144, 144);
  font-size: 87.5%;
  color: rgb(146, 144, 144);
  text-align: left;
  margin: 0 auto;
  box-sizing: border-box;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.input-product {
  width: 50%;
  height: 40px;
  font-size: 112.5%;
  padding-left: 7px;
  margin: 1%;
}

.departments {
  width: 50%;
  text-align: left;
  display: inline-block;
  margin: 1%;
}

.input-packeging {
  width: 50%;
  text-align: left;
  display: inline-block;
  margin: 1%;
}

.add-item-button {
  width: 50%;
  background-color: transparent;
  border-color: rgb(1, 134, 61);
  border-radius: 0.5rem;
  color: rgb(1, 134, 61);
  margin: 1%;
}

.add-item-button:hover {
  background-color: rgb(219, 250, 219);
  transition-duration: 0.4s;
}

.alertInserted {
  width: 20%;
  padding: 0.3rem;
  height: max-content;
  background-color: lightgreen;
  color: darkgreen;
  display: flex;
  align-items: center;
  justify-content: left;
  margin: auto;
  margin-top: 2%;
  border-radius: 0.5rem;
  animation: scale-alert 0.5s forwards;
  opacity: 0;
  /* border: 1px solid black; */
}

@keyframes scale-alert {
  from {
    transform: scale(0%);
  }
  to {
    transform: scale(100%);
    opacity: 1;
  }
}

.icon {
  font-size: 20px;
  margin: 2%;
  padding-right: 5px;
  stroke-width: 1;
  /* border: 1px solid black; */
}

.alert-title {
  font-weight: bold;
  font-size: 18px;
}

.close-alert-button-success {
  font-size: 20px;
  margin-left: auto;
  padding: 2%;
  cursor: pointer;
  border-radius: 50px;
}

.close-alert-button-oops {
  font-size: 20px;
  margin-left: auto;
  padding: 2%;
  cursor: pointer;
  border-radius: 50px;
}

.close-alert-button-success:hover {
  border-radius: 50px;
  background-color: rgb(163, 216, 163);
  transition-duration: 0.8s;
}

.close-alert-button-oops:hover {
  border-radius: 50px;
  background-color: rgb(240, 151, 151);
  transition-duration: 0.8s;
}

.alertNotInserted {
  width: 20%;
  padding: 0.3rem;
  height: max-content;
  background-color: rgb(235, 122, 102);
  color: rgb(138, 1, 1);
  display: flex;
  align-items: center;
  justify-content: left;
  margin: auto;
  margin-top: 2%;
  border-radius: 0.5rem;
  animation: scale-alert 1s forwards;
  opacity: 0;
  /* border: 1px solid black; */
}

@media only screen and (max-width: 425px) {
  .add-item-block {
    background-color: #e0e0e0;
    margin: 10px 20px 10px 20px;
    padding: 1%;
  }

  .add-item-explanation {
    width: 90%;
  }

  .input-product {
    width: 90%;
    height: 10vw;
    font-size: 3.5vw;
  }

  .departments {
    width: 90%;
    font-size: 3.5vw;
  }

  .input-packeging {
    width: 90%;
    font-size: 3.5vw;
  }

  .add-item-button {
    font-size: 4vw;
  }

  .alertInserted {
    width: 60%;
  }

  .icon {
    font-size: 2vw;
  }

  .alert-title {
    font-size: 3.5vw;
  }

  .alert-added {
    font-size: 3vw;
  }
}
