.add-item-block {
  background-color: #e0e0e0;
  padding: 0.5%;
  width: 35%;
  margin: auto;
  border-radius: 0.5rem;
  text-align: center;
  word-wrap: break-word;
  margin-top: 5rem;
}

.add-item-explanation {
  width: 90%;
  font-size: 1.5vh;
  color: rgb(139, 139, 139);
  font-weight: bold;
  text-align: center;
  margin: auto;
  box-sizing: border-box;
  margin-bottom: 1.5rem;
}

.divider {
  width: 90%;
  opacity: 0.5;
  margin-bottom: 1rem;
}

.product-input-title,
.department-input-title,
.packeging-input-title {
  text-align: left;
  width: 90%;
  display: flex;
  margin: auto;
  font-size: 1.5vh;
  font-weight: bold;
  margin-bottom: 0.2rem;
  /* border: 1px solid black; */
}

.input-product {
  width: 90%;
  height: 40px;
  font-size: 1.7vh;
  margin: 1%;
  margin-bottom: 1rem;
  padding: 2px 10px;
  border-radius: 10px;
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
}

.input-product:focus {
  outline: none !important;
  border: 2px solid #2684ff;
}

.departments {
  width: 90%;
  text-align: left;
  display: inline-block;
  margin: 1%;
  font-size: 1.7vh;
  margin-bottom: 1rem;
}

.input-packeging {
  width: 90%;
  text-align: left;
  display: inline-block;
  margin: 1%;
  font-size: 1.7vh;
  margin-bottom: 1.5rem;
}

.add-item-button {
  width: 50%;
  background-color: rgb(1, 134, 61);
  border-radius: 6px;
  border-color: transparent;
  color: white;
  margin-bottom: 1.5rem;
  font-size: 17px;
}

.add-item-button:hover {
  background-color: rgb(1, 167, 76);
  transition-duration: 0.3s;
}

.alertInserted {
  width: 20%;
  padding: 1rem;
  background-color: lightgreen;
  color: darkgreen;
  display: flex;
  align-items: center;
  justify-content: left;
  margin: auto;
  margin-top: 2%;
  border-radius: 0.5rem;
  animation: scale-alert 0.5s forwards;
  opacity: 0;
}

@keyframes scale-alert {
  from {
    transform: scale(0%);
  }
  to {
    transform: scale(100%);
    opacity: 1;
  }
}

.success-icon,
.fail-icon {
  font-size: 25px;
  margin-right: 3%;
  padding-right: 5px;
  stroke-width: 1;
  /* border: 1px solid black; */
}

.alert-title {
  font-weight: bold;
  font-size: 18px;
}

.close-alert-button-success {
  font-size: 25px;
  margin-left: auto;
  padding: 2%;
  cursor: pointer;
  border-radius: 50px;
}

.close-alert-button-oops {
  font-size: 25px;
  margin-left: auto;
  padding: 2%;
  cursor: pointer;
  border-radius: 50px;
}

.close-alert-button-success:hover {
  border-radius: 50px;
  background-color: rgb(163, 216, 163);
  transition-duration: 0.8s;
}

.close-alert-button-oops:hover {
  border-radius: 50px;
  background-color: rgb(240, 151, 151);
  transition-duration: 0.8s;
}

.alertNotInserted {
  width: 20%;
  padding: 1rem;
  background-color: rgb(235, 122, 102);
  color: rgb(138, 1, 1);
  display: flex;
  align-items: center;
  justify-content: left;
  margin: auto;
  margin-top: 2%;
  border-radius: 0.5rem;
  animation: scale-alert 1s forwards;
  opacity: 0;
}

@media only screen and (max-width: 425px) {
  .add-item-block {
    background-color: #e0e0e0;
    width: 90%;
    margin: auto;
    margin-top: 4rem;
    padding: 1%;
  }

  .add-item-explanation {
    width: 90%;
  }

  .input-product {
    width: 90%;
    height: 10vw;
    font-size: 3.5vw;
  }

  .departments {
    width: 90%;
    font-size: 3.5vw;
  }

  .input-packeging {
    width: 90%;
    font-size: 3.5vw;
  }

  .add-item-button {
    font-size: 4vw;
  }

  .alertInserted {
    margin-top: 4%;
    width: 60%;
  }

  .alertNotInserted {
    margin-top: 4%;
    width: 60%;
  }

  .alert-title {
    font-size: 4vw;
  }

  .alert-added {
    font-size: 3vw;
  }
}
