.add-item-block {
  background-color: #e0e0e0;
  padding: 0.5%;
  width: 35%;
  margin: auto;
  border-radius: 0.5rem;
  text-align: center;
  word-wrap: break-word;
  margin-top: 5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.add-item-title {
  color: #222831;
}

.add-item-explanation {
  width: 90%;
  font-size: 0.75vw;
  color: rgb(139, 139, 139);
  font-weight: bold;
  text-align: center;
  margin: auto;
  box-sizing: border-box;
  margin-bottom: 1.5rem;
}

.divider {
  width: 90%;
  opacity: 0.5;
  margin-bottom: 1rem;
}

.product-input-title,
.department-input-title,
.packeging-input-title {
  text-align: left;
  width: 90%;
  display: flex;
  margin: auto;
  font-size: 0.75vw;
  font-weight: bold;
  margin-bottom: 0.2rem;
  color: #222831;
  /* border: 1px solid black; */
}

.input-product {
  width: 90%;
  height: 40px;
  font-size: 0.85vw;
  margin: 1%;
  margin-bottom: 1rem;
  padding: 2px 10px;
  border-radius: 10px;
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
}

.input-product:focus {
  outline: none !important;
  border: 2px solid #2684ff;
}

.departments {
  width: 90%;
  text-align: left;
  display: inline-block;
  margin: 1%;
  font-size: 0.85vw;
  margin-bottom: 1rem;
}

.input-packeging {
  width: 90%;
  text-align: left;
  display: inline-block;
  margin: 1%;
  font-size: 0.85vw;
  margin-bottom: 1.5rem;
}

.add-item-button {
  width: 50%;
  background-color: rgb(1, 134, 61);
  border-radius: 0.5rem;
  border-color: transparent;
  color: white;
  margin-bottom: 1.5rem;
  font-size: 0.9vw;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.add-item-button:hover {
  background-color: rgb(1, 167, 76);
  transform: scale(0.95);
  transition-duration: 0.5s;
}

@media only screen and (max-width: 425px) {
  .add-item-block {
    background-color: #e0e0e0;
    width: 90%;
    margin: auto;
    margin-top: 4rem;
    padding: 1%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }

  .add-item-explanation {
    width: 90%;
  }

  .input-product {
    width: 90%;
    height: 10vw;
    font-size: 3.5vw;
  }

  .departments {
    width: 90%;
    font-size: 3.5vw;
  }

  .input-packeging {
    width: 90%;
    font-size: 3.5vw;
  }

  .add-item-button {
    font-size: 4vw;
  }
}
