.alertInserted {
  width: 20%;
  padding: 1rem;
  background-color: lightgreen;
  color: darkgreen;
  display: flex;
  align-items: center;
  justify-content: left;
  margin: auto;
  margin-top: 2%;
  border-radius: 0.5rem;
  animation: scale-alert 0.5s forwards;
  opacity: 0;
}

.alertNotInserted {
  width: 20%;
  padding: 1rem;
  background-color: rgb(235, 122, 102);
  color: rgb(138, 1, 1);
  display: flex;
  align-items: center;
  justify-content: left;
  margin: auto;
  margin-top: 2%;
  border-radius: 0.5rem;
  animation: scale-alert 1s forwards;
  opacity: 0;
}

.alertExists {
  width: 20%;
  padding: 1rem;
  background-color: rgb(238, 232, 144);
  color: rgb(141, 103, 8);
  display: flex;
  align-items: center;
  justify-content: left;
  margin: auto;
  margin-top: 2%;
  border-radius: 0.5rem;
  animation: scale-alert 0.5s forwards;
  opacity: 0;
}

@keyframes scale-alert {
  from {
    transform: scale(0%);
  }
  to {
    transform: scale(100%);
    opacity: 1;
  }
}

.success-icon,
.fail-icon,
.exists-icon {
  font-size: 25px;
  margin-right: 3%;
  padding-right: 5px;
  stroke-width: 1;
  /* border: 1px solid black; */
}

.alert-title {
  font-weight: bold;
  font-size: 18px;
}

.close-alert-button {
  font-size: 25px;
  margin-left: auto;
  padding: 2%;
  cursor: pointer;
  border-radius: 50%;
}

.success:hover {
  background-color: rgb(163, 216, 163);
  transition-duration: 0.8s;
}

.oops:hover {
  background-color: rgb(240, 151, 151);
  transition-duration: 0.8s;
}

.exists:hover {
  background-color: rgb(247, 244, 201);
  transition-duration: 0.8s;
}

@media only screen and (max-width: 425px) {
  .alertInserted {
    margin-top: 4%;
    width: 60%;
  }

  .alertNotInserted {
    margin-top: 4%;
    width: 60%;
  }

  .alert-title {
    font-size: 4vw;
  }

  .alert-added {
    font-size: 3vw;
  }
}
