.product-row-edit {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f5f5f5;
  padding: 1%;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 0.3rem;
  width: 100%;
  word-wrap: break-word;
  align-items: center;
}

.product-dets-edit {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  /* border: 1px solid black; */
}

.first-row-edit {
  display: flex;
  width: 100%;
  align-items: center;
  /* border: 1px solid black; */
}

.output-product-edit {
  display: inline-block;
  position: relative;
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  padding: 1%;
  /* border: 1px solid black; */
}

.output-department-edit {
  display: inline-block;
  position: relative;
  width: fit-content;
  text-align: left;
  font-size: 12px;
  padding: 1%;
  font-weight: bold;
  color: rgb(120, 120, 120);
  /* border: 1px solid black; */
}

.amount-edit {
  display: flex;
  width: 100%;
  align-items: center;
  text-align: left;
  font-size: 12px;
  padding: 1%;
  /* border: 1px solid black; */
}

.amo {
  display: inline-block;
  width: fit-content;
  align-items: center;
  margin-right: 1.5vh;
  /* border: 1px solid black; */
}

.output-units {
  display: inline-block;
  text-align: right;
  font-size: 12px;
  /* border: 1px solid black; */
}

.input-edit-amount {
  display: inline-block;
  width: 10%;
  height: 25px;
  box-sizing: border-box;
  padding-left: 7px;
  /* border: 1px solid black; */
}

.comment-edit {
  display: flex;
  width: 100%;
  align-items: center;
  text-align: left;
  font-size: 12px;
  padding: 1%;
  /* border: 1px solid black; */
}

.com {
  display: inline-block;
  width: fit-content;
  align-items: center;
  margin-right: 1.5vh;
  /* border: 1px solid black; */
}

.input-edit-comment {
  width: 50%;
  height: 25px;
  box-sizing: border-box;
  padding-left: 7px;
}

.icons-edit {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 13%;
  cursor: pointer;
  font-size: 25px;
  margin-right: 1.5vh;
  grid-area: icons;
  /* border: 1px solid black; */
}

.edit-button:hover {
  color: forestgreen;
  transition-duration: 0.2s;
}

.delete-button:hover {
  color: crimson;
  transition-duration: 0.2s;
}

@media only screen and (max-width: 425px) {
  .outputs-edit .output-product {
    font-size: 3vw;
    width: 15%;
    /* border: 1px solid black */
  }

  .outputs-edit .output-department {
    font-size: 2.7vw;
    width: 15%;
    /* border: 1px solid black */
  }

  .outputs-edit .output-units {
    width: 20%;
    font-size: 2.7vw;
    /* border: 1px solid black; */
  }

  .edits span {
    font-size: 2.8vw;
  }

  .edit-amount {
    height: 5vw;
    font-size: 2.8vw;
  }

  .edit-comment {
    height: 5vw;
    font-size: 2.8vw;
  }
}
