body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
  
h1, h2, h3{
    text-align: center;
}
  
.block {
    background-color: #e0e0e0;
    padding: 0.5%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 0.5rem;
    text-align: center;
    word-wrap: break-word;
}

.explanation {
    width: 50%;
    border-bottom: 1px solid rgb(146, 144, 144);
    font-size: 14px;
    color: rgb(146, 144, 144);
    text-align: left;
    margin: 0 auto;
    box-sizing: border-box;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

input[type="text"] {
    margin: 5px;
}

.input-product {
    width: 50%;
    height: 40px;
    font-size: large;
    box-sizing: border-box;
    padding-left: 7px;
}

.departments {
    width: 50%;
    text-align: left;
    display: inline-block;
}

.input-comment {
    width: 50%;
    height: 25px;
    box-sizing: border-box;
    padding-left: 7px;
}
  
button {
    font-weight: bold;
    font-size: large;
    height: 40px;
    width: 200px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid;
}

.add-item-button {
    width: 50%;
    background-color: transparent;
    border-color: rgb(194, 90, 90);
    border-radius: 0.5rem;
    color: rgb(194, 90, 90);
}

.add-item-button:hover {
    background-color: rgb(235, 204, 204);
    transition-duration: 0.4s;
}
  
.product-row {
    display: flex;
    background-color: #f5f5f5;
    padding: 1%;
    margin-left: 5px;
    margin-bottom: 10px;
    border-radius: 0.3rem;
    width: 96%;
    word-wrap: break-word;
    align-items: center;
}

.output-product {
    position: relative;
    width: 35%;
    text-align: left;
    margin-right: auto;
    font-size: 18px;
    padding: 1%;
}

.output-comment {
    position: relative;
    width: 10%;
    text-align: left;
    color: rgb(252, 61, 61);
    font-size: 14px;
    margin-right: auto;
    padding: 1%;
}

.icons {
    display: flex;
    justify-content: space-between;
    width: 10%;
    cursor: pointer;
    font-size: 25px;
    margin-left: auto;
    padding-right: 5px;
}

.edit-button:hover {
    color: forestgreen;
    transition-duration: 0.2s;
}

.delete-button:hover {
    color: crimson;
    transition-duration: 0.2s;
}

.shop-button {
    text-align: center;
}