@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@400;600&family=Lato:wght@100&display=swap');

body {
  font-family: 'Encode Sans', sans-serif;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

.block {
  background-color: #e0e0e0;
  padding: 0.5%;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 1%;
  border-radius: 0.5rem;
}

button {
  font-weight: bold;
}
